{% extends 'store/base.html' %}
{% load static %}
{% load customfunction %}
{% block container %}
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-3">
							<div class="view-details">
								<img src="{{ wrt.pic.url }}">
							</div>
						</div>
						
						<div class="col-sm-8">
							<div class="product-information">
								<h3>{{ wrt.name }}</h3>
								<article class="text-justify" style="margin-top:10px;">{{ wrt.bio }}</article>

							</div>
						</div>
					</div>	
				</div>

				<div class="col-sm-12">
					<div class="titleheader">
						<h3 class="h2header text-center">Published Books</h3>
					</div>
					<div class=" sliderzx">
						{% for item in book %}
						<div class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{{ item.coverpage.url }}"/>
							</div>
							
							<a href="{% url 'store:book' id=item.id %}">{{ item.book }}</a>
							<p> ${{ item.price }} </p>
							<button class="btn btn-warning" id="addTocart" data-book-id="{{ item.id }}">
								Add to cart
								</button>


						</div>
						{% endfor %}
					</div>
				</div>
			</div>
{% endblock %}